@tailwind base;

@tailwind components;

  * {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
  }

  @media (prefers-reduced-motion: reduce) {
    * {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
  }

  *:hover {
    transition: all .35s ease;
  }

  *:focus {
    @apply outline-none;
  }

  @media(min-width: 576px) {
    body::-webkit-scrollbar-track {
      box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
      @apply bg-gray-900;
    }

    body::-webkit-scrollbar {
      width: 6px;
      @apply bg-gray-900;
      @apply mx-1;
    }

    body::-webkit-scrollbar-thumb {
      @apply bg-gray-600;
      @apply rounded-full;
    }

    body::-webkit-scrollbar-thumb:hover {
      @apply bg-yellow-600;
    }
  }

  body, html {
    @apply text-gray-400;
  }

  body {
    @apply min-h-screen;
    background: rgb(26,32,44);
    background: linear-gradient(145deg, rgba(26,32,44,1) 0%, rgba(42,67,101,1) 50%);
  }

  h1, h2, h3, h4, h5, h6 {
    @apply tracking-wide;
    @apply font-bold;
    @apply mt-0;
    @apply mb-4;
  }

  h1 {
    font-size: calc(1.375rem + 1.5vw);
  }

  @media (min-width: 1200px) {
    h1 {
      @apply text-4xl;
    }
  }

  h2 {
    font-size: calc(1.325rem + 0.9vw);
  }

  @media (min-width: 1200px) {
    h2 {
      @apply text-3xl;
    }
  }

  h3 {
    font-size: calc(1.3rem + 0.6vw);
  }

  @media (min-width: 1200px) {
    h3 {
      @apply text-2xl;
    }
    h4 {
      @apply text-xl;
    }
  }

  p {
    @apply mt-0;
    @apply mb-4;
  }

  ol, ul {
    @apply pl-8;
  }

  ul {
    list-style-type: square;
  }

  ol {
    list-style-type: decimal;
  }

  ol, ul, dl {
    @apply mt-0;
    @apply mb-4;
  }

  ol ol, ul ul, ol ul, ul ol {
    @apply mb-0;
  }

  b, strong {
    @apply font-bold;
  }

  i, em {
    @apply italic;
  }

  small {
    @apply text-sm;
  }

  /* OTHER */

  hr {
    @apply border-gray-500;
    @apply my-8;
  }

  .icon {
    @apply pointer-events-none;
  }

  /* BUTTONS */

  button:focus {
    @apply outline-none;
    @apply shadow-none;
  }

  button:disabled {
    cursor: not-allowed;
  }

  .btn {
    @apply font-bold;
    @apply rounded-none;
    @apply shadow-md;
    @apply px-6;
    @apply py-2;
  }

  .btn:hover {
    @apply shadow-none;
  }

  .btn-black {
    @apply bg-gray-900;
    @apply text-yellow-600;
    @apply border;
    @apply border-transparent;
  }

  .btn-black:hover,
  .btn-black:focus {
    @apply bg-yellow-600;
    @apply text-gray-900;
  }

  .btn-gray {
    @apply bg-transparent;
    @apply text-gray-700;
    @apply px-4;
  }

  .btn-gray:hover,
  .btn-gray:focus {
    @apply text-yellow-600;
  }

  .btn-muted {
    @apply text-sm;
    @apply bg-transparent;
    @apply text-gray-600;
    @apply border;
    @apply border-gray-600;
    @apply shadow-none;
  }

  .btn-muted:hover,
  .btn-muted:focus {
    @apply bg-gray-600;
    @apply text-gray-800;
    @apply border-transparent;
  }

  /* LIST */

  .list,
  .tracklist,
  .watchlist {
    @apply bg-gray-400;
    @apply text-gray-800;
    @apply rounded-lg;
    @apply border;
    @apply border-gray-700;
    @apply shadow-lg;
  }

  .list .list-item:last-child {
    @apply border-transparent;
  }

    /* LIST MODAL */

    .list-modal {
      @apply fixed;
      @apply top-0;
      @apply left-0;
      @apply right-0;
      @apply z-20;
      @apply bg-gray-200;
      @apply rounded-lg;
      @apply shadow-lg;
      @apply mt-8;
      @apply mx-auto;
      @apply py-6;
      @apply overflow-y-auto;
      width: calc(100% - 2rem);
      max-height: 50%;
    }

    @media(min-width:768px) {
      .list-modal {
        @apply w-2/3;
      }
    }

    @media(min-width:1024px) {
      .list-modal {
        @apply w-1/2;
        max-height: 100%;
      }
    }

    @media(min-width:1440px) {
      .list-modal {
        @apply max-w-xl;
      }
    }

@tailwind utilities;